@font-face {
  font-family: 'RussoOne';
  src: url('/fonts/RussoOne.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'Bangers';
  src: url('/fonts/Bangers.ttf') format('truetype');
  font-display: block;
}
